body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
}

.content {
	width: 800px;
	margin: 15px auto;
}

.header {
	height: 100px;
	border-bottom: 2px dashed #ddd;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 100px;
}

h1 a {
	text-decoration: none;
	color: #1026CC;
}

form.search {
	margin-bottom: 10px;
}

.searchinput {
	text-align: center;
	margin-top: 30px;
}

.searchinput .in {
	width: 500px;
	font-size: 20px;
}

.searchinput .ok {
	font-size: 20px;
}

.results {
	border-top: 2px dashed #ddd;
	margin-top: 20px;
	padding-top: 20px;
}

.results li {
	padding: 10px 0;
	list-style-type: none;
}

.results .item-body {
	padding-left: 50px;
}

.results .item-score {
	float:left;
	font-size: 90%;
	padding-top: 7px;
}

.results .item-title {
	font-size: 115%;
}

.results .item-url {
	font-size: 80%;
}

.results .item-url a {
	color: green;
	text-decoration: none;
}

.steps a {
	display: block;
	float: left;
	border: 1px solid #bbf;
	padding: 5px 10px;
	margin-right: 5px;
	color: #66f;
	text-decoration: none;
}

.steps a:hover {
	border: 1px solid #00f;
	color: #00f;
}

.steps .currentpage a {
	border: none;
	color: black;
}

.cleaner {
	clear: both;
}

.suggestions {
	font-size: 80%;
	margin-bottom:30px;
}

.footer {
	font-size: 80%;
	border-top: 2px dashed #ddd;
	margin-top: 30px;
	padding-top: 30px;
}

.item-description {
	font-size:90%;
}



















