body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
}

.content {
	width: 800px;
	margin: 15px auto;
}

.header {
	height: 100px;
	border-bottom: 2px dashed #ddd;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 100px;
}

h1 a {
	text-decoration: none;
	/*color: #1026CC;*/
	color: black;
}

form.search {
	margin-bottom: 10px;
}

.searchinput {
	text-align: center;
	margin-top: 30px;
}

.searchinput .in {
	width: 500px;
	font-size: 20px;
}

.searchinput .ok {
	font-size: 20px;
}

.results {
	border-top: 2px dashed #ddd;
	margin-top: 20px;
	padding-top: 20px;
}

.results li {
	padding: 10px 0;
	list-style-type: none;
}

.results .item-body {
	padding-left: 70px;
}

.results .item-score {
	float:left;
	font-size: 90%;
	padding-top: 4px;
}

.results .item-title {
	font-size: 115%;
}

.results .item-url {
	font-size: 80%;
}

.results .item-url a {
	color: green;
	text-decoration: none;
}

.steps a {
	display: block;
	float: left;
	border: 1px solid #bbf;
	padding: 5px 10px;
	margin-right: 5px;
	color: #66f;
	text-decoration: none;
}

.steps a:hover {
	border: 1px solid #00f;
	color: #00f;
}

.steps .currentpage a {
	border: none;
	color: black;
}

.cleaner {
	clear: both;
}

.suggestions {
	font-size: 80%;
	margin-bottom:30px;
}

.suggestions a {
	text-decoration: none;
}

.suggestions a:hover {
	text-decoration: underline;
}

.suggestions .sibl-sugg a:hover {
	color: #FB0;
}

.suggestions .spec-sugg a:hover {
	color: #070;
}

.suggestions .gen-sugg a:hover {
	color: #F00;
}

.footer {
	font-size: 80%;
	border-top: 2px dashed #ddd;
	margin-top: 30px;
	padding-top: 30px;
}

.item-description {
	font-size:90%;
}

.meta {
	font-size: 80%;
}

.error {
	border: 1px solid red;
	padding:5px;
	width: 500px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	background-color: #fcc;
	color: red;
}

.color-0{ color: #ffffff;}
.color-1{ color: #eeeeff;}
.color-2{ color: #ddddff;}
.color-3{ color: #ccccff;}
.color-4{ color: #bbbbff;}
.color-5{ color: #aaaaff;}
.color-6{ color: #9999ff;}
.color-7{ color: #8888ff;}
.color-8{ color: #7777ff;}
.color-9{ color: #6666ff;}
.color-10{ color: #5555ff;}
.color-11{ color: #4444ff;}
.color-12{ color: #3333ff;}
.color-13{ color: #2222ff;}
.color-14{ color: #1111ff;}
.color-15{ color: #0000ff;}

.gen-color-3 {color:  #ffc9c9;}
.gen-color-4 {color:  #ffc3c3;}
.gen-color-5 {color:  #ffbaba;}
.gen-color-6 {color:  #ffb6b6;}
.gen-color-7 {color:  #ffb0b0;}
.gen-color-8 {color:  #ffa8a8;}
.gen-color-9 {color:  #ffa0a0;}
.gen-color-10 {color:  #ff9898;}
.gen-color-11 {color:  #f88;}
.gen-color-12 {color:  #f66;}
.gen-color-13 {color:  #f44;}
.gen-color-14 {color:  #f22;}
.gen-color-15 {color:  #f00;}


.sibl-color-3 {color:  #ffe0b8;}
.sibl-color-4 {color:  #ffdcb0;}
.sibl-color-5 {color:  #ffd6a8;}
.sibl-color-6 {color:  #ffd0a0;}
.sibl-color-7 {color:  #ffcc98;}
.sibl-color-8 {color:  #ffc690;}
.sibl-color-9 {color:  #ffc088;}
.sibl-color-10 {color:  #fb8;}
.sibl-color-11 {color:  #fb7;}
.sibl-color-12 {color:  #fb6;}
.sibl-color-13 {color:  #fb4;}
.sibl-color-14 {color:  #fb2;}
.sibl-color-15 {color:  #fb0;}


.spec-color-3 {color:  #B8D6B8;}
.spec-color-4 {color:  #B0D0B0;}
.spec-color-5 {color:  #A8CAA9;}
.spec-color-6 {color:  #A0C6A0;}
.spec-color-7 {color:  #98C098;}
.spec-color-8 {color:  #90BA90;}
.spec-color-9 {color:  #88B688;}
.spec-color-10 {color:  #80B080;}
.spec-color-11 {color:  #7A7;}
.spec-color-12 {color:  #696;}
.spec-color-13 {color:  #484;}
.spec-color-14 {color:  #282;}
.spec-color-15 {color:  #070;}











